doctype
html(lang="ru")
  include general/head
  body
    .page-wrapper
      .page-content
        include general/header
        main
      include general/footer
    include general/scripts
    +scripts("", true, true)