// noindex
noscript.nojs-banner
  .wrapper
    .nojs-banner__message-block
      p.nojs-banner__message В вашем браузере отключен JavaScript.
        br
        |Чтобы воспользоваться нашим сайтом, пожалуйста включите JavaScript.
// /noindex