// noindex
noscript.nojs
  input.nojs__check#nojs-check(type="checkbox")
  .wrapper
    .nojs__indent
    .nojs__message-block
      p.nojs__message.
        В вашем браузере отключен JavaScript. Многие функции сайта могут не работать. Для полной работы с сайтом рекомендуем его включить.
      label.nojs__btn(for="nojs-check", title="Закрыть") Закрыть
// /noindex